.App {
  text-align: center;
}  
/*
.Hero{
  background-color: black;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.heading-text{
  font-family: 'Bowlby One SC', cursive;
  /*text-decoration: underline;*/
}

#gmap{
  width: 100%;
  height: 100%;
}

.placard{
  opacity: 0.9;
  transition: 0.3s;
}
.placard:hover{
  opacity: 1.0
}

.image-container img{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  display: block;
}